/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --text-color: white;
    --bg-url: url(../assets/bg-mobile.jpg);
    --bg-ul:rgba(255, 255, 255, 0.1);
    --bg-ul-hover:rgba(255, 255, 255, 0.05);
    --ul-border-color: rgba(255, 255, 255, 0.5);
    --ul-border-color-hover: rgba(255, 255, 255, 1);
    --bg-links:rgba(65, 65, 67, 1);
    --links-border: rgb(102, 102, 102, 0.001);
    --footer-hover:rgba(255, 255, 255, 0.2);
    --switch-bg: url(https://raw.githubusercontent.com/Allan-Oliveira23/projeto001/9ef1ab393e97046f687d71bafa868bfd2cbc94e0/assets/moon-stars.svg);
    --track-border-color:rgba(255, 255, 255, 0.5);
    --bg-track:rgba(255, 255, 255, 0.1);
}

.light{
    --text-color: black;
    --bg-url: url(https://raw.githubusercontent.com/Allan-Oliveira23/projeto001/9ef1ab393e97046f687d71bafa868bfd2cbc94e0/assets/sun.svg);
    --bg-ul:rgba(142, 142, 142, 0.1);
    --bg-ul-hover:rgba(255,255,255, 1);
    --ul-border-color: rgba(142, 142, 142, 1);
    --ul-border-color-hover: black;
    --bg-links:rgba(229, 229, 229, 1);
    --links-border: black;
    --footer-hover:rgba(0, 0, 0, 0.3);
    --switch-bg: url(../assets/sun.svg);
    --track-border-color:rgba(0, 0, 0, 1);
    --bg-track:rgba(0, 0, 0, 0.05);
    

}

body *{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
  color: var(--text-color);
}

body {
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    backgroud-position: top center;
    background-size: cover;
    */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;

}

#container {
    width: 100%;
    max-width: 588px;
    padding:  0 24px;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 24px;
    
}

#profile {
    text-align: center;
}

#profile img{
    width: 112px;

 
}
#profile p {
    font-weight: 500;
    line-height: 26px;
    margin: 6px 0px 20px 0px;
}
#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: var(--switch-bg) white no-repeat center;
    border-radius: 50%;
    border: 0;
    top: 50%;
    left: 0;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s;
   
     
}
#switch button:hover{
    outline: 8px solid var(--bg-track);
}


#switch span {
    display: block;
    background-color: var(--bg-track);
    border: 1px solid var(--track-border-color);
    width: 64px;
    height: 24px;
    border-radius: 9999px;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
     right: 0;
     left: initial;
}

.light #switch button:hover{
    outline: 8px solid var(--bg-track);
}

/* links */

ul {
    margin-top: 24px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 16px;
}

ul li a{
    border: 1px solid var(--ul-border-color);
    background: var(--bg-ul);
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    text-decoration: none;
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    font-weight: 500;

    transition: background 0.2s;
}

ul li a:hover{
    border: 1.5px solid var(--ul-border-color-hover);
    background: var(--bg-ul-hover);
}

#sociallinks{

    padding: 24px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
    font-size: 24px;
}
#sociallinks a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#sociallinks a:hover {
    background-color: var(--bg-links);
    border-radius: 50%;  

}

footer{
    margin: 24px;
    font-weight: 500;
    text-align: center;
}
footer p a:hover{
    color: var(--footer-hover);
}

@media (min-width: 700px) {

    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
         --bg-url: url(./assets/bg-desktop-light.jpg);
    }

}

@keyframes slide-in {
    from{
        left: 0%;
    }
    to{
        left: 50%;
    }
}

@keyframes slide-back{
    from{
        left: 50%;
    }
    to{
        left: 0%;
    }
}
